{% extends 'base.html.twig' %}

{% block title %}
    {{'home.title'|trans}}
{% endblock %}


{% block body %}

<div class="container">

    {% include 'common/_breadcrumb.html.twig' with {
        'home':true
    } %}
    
    <h2 class="my-5"> {{'home.menu.last_published'|trans}} </h2>  
    <div class="row"> 
        {% for game in lastPublishedGames  %}
            <div class="col-lg-4 px-5">            
                <div>
                    {% include 'games/cardView.html.twig' %}
                </div>
            </div>
        {% endfor %}    
    </div>
</div>

<div class="dark mt-5">
    <div class="container py-5">
        <h2 class="mb-5"> {{'home.menu.most_played'|trans}} </h2>
        <div class="row">
            {% for game in mostGamePlayed  %}
                <div class="col-lg-4 px-5">            
                    <div>
                        {% include 'games/cardView.html.twig' %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container pt-5">
    <h2 class="mb-5"> {{'home.menu.last_comments'|trans}} </h2>
    <div class="row">
        {% for comment in lastComments  %}
            <div class="homeComments col-lg-3 px-3">
                {% include 'home/_comment.html.twig' with 
                    {
                        'shortDisplay': true
                    }
                %}
            </div>
        {% endfor %}
    </div>
</div>


<div class="dark mt-5">
    <div class="container pt-5">
        <h2 class="mb-5"> {{'home.menu.most_bought'|trans}} </h2>
        <div class="row">
            {% for game in mostBoughtGame  %}
                <div class="col-lg-4 px-5">            
                    <div>
                        {% include 'games/cardView.html.twig' %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}