{% extends 'base.html.twig' %}

{% block title %}
    Page d'accueil
{% endblock %}


{% block body %}

<div class="container">
    <h2 class="my-5"> Nos derniers jeux : </h2>  
    <div class="row"> 
        {% for game in lastPublishedGames  %}
            <div class="col-lg-4 px-5">            
                <div>
                    {% include 'games/cardView.html.twig' %}
                </div>
            </div>
        {% endfor %}    
    </div>
</div>

<div class="dark mt-5">
    <div class="container py-5">
        <h2 class="mb-5"> Les plus joués : </h2>
        <div class="row">
            {% for game in mostGamePlayed  %}
                <div class="col-lg-4 px-5">            
                    <div>
                        {% include 'games/cardView.html.twig' %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container pt-5">
    <h2 class="mb-5"> Les derniers avis : </h2>
    <div class="row">
        {% for comment in lastComments  %}
            <div class="col-lg-3 px-3">
                <div class="commentContainer">
                    <a href="{{path('st_games', {slug:comment.game.slug})}}"><h5 class="orange link"> {{comment.game.name}}</h5><a>
                    <p> le {{comment.createdAt | format_datetime(locale='fr',pattern="dd MMMM YYYY")}} par <a class="orange link" href="{{path('st_user', {name:comment.account.name})}}"> {{comment.account.nickname}}</a></p>
                    <p>{{comment.content|slice(0, 100) ~ '...'}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="dark mt-5">
    <div class="container pt-5">
        <h2 class="mb-5"> Top des ventes : </h2>
        <div class="row">
            {% for game in mostBoughtGame  %}
                <div class="col-lg-4 px-5">            
                    <div>
                        {% include 'games/cardView.html.twig' %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}