{% extends 'base-front.html.twig' %}

{% block body %}

<div class="container">
    {{form_start(form) }}
        {{form_row(form.name)}}
        {{form_row(form.slug)}}
        <button type="submit" class="btn btn-warning"> Valider </button>
    {{form_end(form) }}

    <a href="{{ path('app_genre') }}" class="btn btn-warning my-3"> Retour à la liste </a>
</div>
{% endblock %}