{% extends 'base.html.twig' %}

{% block title %}{{gameDetail.name}}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">{{gameDetail.name}}</h1>
    <div class="row">
        <div class="col-6">
            <div class="imageContainer">
                <img src="{{gameDetail.thumbNailCover}}">
            </div>
            
        </div>
        <div class="col-6">
            <div class="imageContainer">
                <p class="px-2">{{gameDetail.description}}</p>
                    {% for genre in gameDetail.genres %}
                        <p>{{genre.name}}</p>
                    {% endfor %}
            </div>
            
        </div>

    </div>
</div>
{% endblock %}
