{% extends 'base-front.html.twig' %}

{% block title %}Hello ListedGenreController!{% endblock %}

{% block body %}

<div class="container">
    <table class="table table-dark table-stripped my-3">
        <thead>
            <tr>
                <th>Genre</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{genre.name}}</td>
                <td><a href="{{ path('app_genre_edit', {name:genre.name}) }}"><i class="fa-solid fa-pen"></i></a></td>
                <!-- Button trigger modal -->
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_{{loop.index}}"><i class="fa-solid fa-trash"></i></button></td>
                <!-- Modal -->
                <div class="modal fade" id="modal_{{loop.index}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-body text-dark">
                        Etes vous sur de vouloir supprimer le genre {{genre.name}}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                        <a href="{{ path('app_genre_delete', {name: genre.name}) }}" class="btn btn-primary">Oui</a>
                    </div>
                    </div>
                </div>
                </div>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-warning my-3" href="{{ path('app_genre_create') }}"> Ajouter un genre</a>

</div>

{% endblock %}
