{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="container row text-center">
    <h1>{{publisher.name}}</h1>
    <p>Pays d'origine: <img src="{{ publisher.country.urlFlag}}"></p>
    <p> {{nbGames}} jeux</p>
    <p>{{publisher.website}}</p>
    <h3 class="my-4 text-left">Les jeux de {{publisher.name}}</h3>
    {% for game in publisher.games %}
        <div class="col-lg-3">
            {% include 'games/cardView.html.twig' %}
        </div>
    {% endfor %}
    
</div>

{% endblock %}