{% extends 'base-front.html.twig' %}

{% block title %}{% endblock %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Steamishv3</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{{path('st_games')}}">Jeux</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{path('app_publisher')}}">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{path('app_user')}}">Utilisateurs</a>
        </li>
        <li class="nav-item">
          <div class="dropdown mx-3">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Forum
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Forum 15-25</a></li>
              <li><a class="dropdown-item" href="#">PS5</a></li>
              <li><a class="dropdown-item" href="#">Xbox</a></li>
              <li><a class="dropdown-item" href="#">Nitendo</a></li>
              <li><a class="dropdown-item" href="#">PC</a></li>
            </ul>
          </div>
        </li>
      </ul>
      {% if is_granted('ROLE_ADMIN') %}
      <a href="{{path('app_admin')}}" class="mx-3">View Admin</a>
      {% endif %}
      {{
        render(controller('App\\Controller\\SearchController::searchBar'))
    }}
      {% if app.user %}
      <a href="{{path('st_user_show',{name: app.user.name})}}" class="mx-3">{{ app.user.name ?? 'connexion' }}</a>

      <a href="{{path('app_logout')}}"><button class="btn btn-warning">
          Deconnexion
        </button></a>
      {% else %}
      <a href="{{path('app_login')}}"><button class="btn btn-warning me-2">
          Connexion
        </button></a>

      <a href="{{path('app_register')}}"><button class="btn btn-warning me-2">
          Inscription
        </button></a>
      {% endif %}




    </div>
  </div>
</nav>
{# <div class="sousBanniere">
    <p> PC </p>
    <p> XBOX</p>
    <p>Playstation</p>
</div> #}
{% endblock %}