{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div class="container mx-auto">

    <div class="infoContainer my-5">
        <h3> {{user.name}} </h3>
        <p>Pseudo : {{user.nickname}}</p>
    </div>

    <h2>Jeux de {{user.name}}</h2>
    <div class="row">
            {% for library in user.libraries %}
                <div class="col-3 py-5">
                    <a href="{{ path('st_games', {slug:library.game.slug}) }}">
                        <div class="cardContainer mx-2 my-4">
                            <div class="imageContainer">
                                <img src="{{library.game.thumbnailCover}}">
                            </div>
                        </div>
                    </a>
                    <div class="infoUserGameContainer">
                        <p class="mb-0">{{library.game.name}}</p>
                        <p class="mb-0">Temp de jeu: {{library.timeConverter }}</p>
                        <p>Dernière partie le {{library.lastUsedAt | date('d/m/Y')}}</p>
                    </div>
                </div>
            {% endfor %}

            <h2 class="py-3">Les avis de {{user.name}}</h2>
            {% for comment in user.comments %}
                <div class="userComments col-lg-3 px-3">
                    {% include 'home/_comment.html.twig' %}
                </div>
            {% endfor %}
    </div>

</div>

{% endblock %}
