{% extends 'base-front.html.twig' %}


{% block body %}

<div class="forumContainer container text-center">

        <h1 class="my-5">Tout les forums:</h1>
        <ul class="listeForum my-5">
        {% for forum in forums %}
            <li><a href="{{path('app_forum_show', {name:forum.title})}}">Forum {{forum.title}}</a></li>
        {% endfor %}
        </ul>

        <div class="my-5">
            <h4>Le top tendances: </h4>
            <p><a href="{{path('app_forum_show', {name:topForum.title})}}">{{topForum.title|capitalize}}</a> - {{nbMessageTop}} messages</p>
            <h4>Forum GOLD</h4>
            <p><a href="{{path('app_forum_show', {name:goldForum.title})}}">{{goldForum.title|capitalize}}</a> - {{nbMessageGold}} messages</p>
            <h4>En manques d'attention!</h4>
            <p class="mb-5"><a href="{{path('app_forum_show', {name:needAttentionForum.title})}}">{{needAttentionForum.title|capitalize}}</a> - {{nbMessageNA}} messages</p>
        </div>

        <div class="my-5">
            <h4>Felicitation à <a href="{{path('st_user_show', {name:mostActiveUser.name})}}" class="orange"> {{mostActiveUser.nickname|capitalize}}!<a/> </h4>
            <p> Il est notre utilisateur le plus actif avec {{nbMessageMAU}} messages!</p>
        </div>

</div>

{% endblock %}
