
   
{% if formEdit is defined %}

    {{form_start(formEdit)}}
        {{form_row(formEdit.content)}}
        <button class="btn btn-warning my-3">Envoyer</button>
    {{form_end(formEdit)}}

{% else %}

    {{form_start(form)}}
        {{form_row(form.content)}}
        <button class="btn btn-warning my-3">{% if formEdit is defined %}Modifier{% else %}Envoyer{% endif %} </button>
    {{form_end(form)}}

{% endif %}