{% extends 'base-front.html.twig' %}

{% block body %}

<div class="container my-4">
    
    <h3 >{{topic.title}}</h3>
    <p class="mb-5">By <a href="{{path('st_user_show', {name:topic.createdBy.name})}}"> <span class="orange">{{topic.createdBy.nickname}}</span></a></p>

    {% for message in topic.messages %}

    <div class="messageBlock my-4">
        <p class="my-4">Response by
            <a href="{{path('st_user_show', {name:message.createdBy.name})}}">
                <span class="orange">{{message.createdBy.nickname}}<span>
            </a>
        </p>
        <p>Le {{message.createdAt|date('d/m/Y')}}</p>
        <p>{{message.content}}</p>

    </div>

    {% endfor %}

    <div class="my-5">
        {% if app.user %}
            <h3 class="my-3"> Laissez un commentaire:</h3>
            {% include 'forum/message_form.html.twig' %}
        {% else %}
            <p> <a href="{{path("app_login")}}" class="text-warning">Connectez-vous</a> ou <a href="{{path("app_register")}}" class="text-warning">Inscrivez-vous</a> pour laisser un commentaire</p>
        {% endif %}
    </div>

    <div>
        <a href="{{path('app_forum_show', {name:topic.forums.title})}}" class="btn btn-warning"> Retour </a>
    </div>
</div>

{% endblock %}